#a1, #a2 , #a3, #a4, #a5, #a6,
#b1, #b2 , #b3, #b4, #b5, #b6,
#c1, #c2 , #c3, #c4, #c5, #c6,
#d1, #d2 , #d3, #d4, #d5, #d6{
  width:100px;
  height:100px;
  background-color:#6d8bba;
  border:1px solid black;
}

#missile1, #missile5, #missile9, #missile13, #missile17, #missile21,
#missile2, #missile6, #missile10, #missile14, #missile18, #missile22,
#missile3, #missile7, #missile11, #missile15, #missile19, #missile23,
#missile4, #missile8, #missile12, #missile16, #missile20, #missile24  {
  display:none;
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover, #a5:hover, #a6:hover,
#b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover, #b6:hover,
#c1:hover, #c2:hover, #c3:hover, #c4:hover, #c5:hover, #c6:hover,
#d1:hover, #d2:hover, #d3:hover, #d4:hover, #d5:hover, #d6:hover{
  background-color: black;
}

.player2 {
  display:none;
}

.combined {
  display:none;
}
